# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Explicitly include critical config files
# Even if they are in .gitignore, EAS will prioritize this file
!GoogleService-Info.plist
!google-services.json
!.env